:root {
    --theme-primary: #5585b5;
    --theme-secondary: #fff;
    --card-color: #5585b5;
    --text-color: black;
    --text-color-header: #fff ;
    --text-color-header-hover: #0e263b ;
    --text-color-inverse:#fffffc;
    --boton:#588157 ;
    --color-2: #79c2d0;
    --color-header: #5585b5;
    --color-footer: var(--theme-primary);
    --color-text-footer: #fff;
    --card-juego: #fff;
  }
  
 :root[data-theme="dark"] {
    --theme-primary: #1f1f2d;
    --theme-secondary: #333f4c;
    --card-color: #df9a57;
    --text-color: #e5e5e5;
    --text-color-inverse:#0c1821;
    --boton:#185339; 
    color-scheme: dark; 
}

* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: var(--theme-secondary);
}

.principal {
    min-height: 70vh;
    width: 70vw;
    margin: 0 auto;
}

.navbar-brand{
    color: var(--text-color-header);
}

.navbar-brand:hover{
    color: var(--text-color-header-hover);
}

.bi-nut{
    color: var(--text-color-header);
}

.nav-link{
    color: var(--text-color-header);
}

.nav-link:hover{
    color: var(--text-color-header-hover);
}


.navbar-toggler-icon{
    background-image: url('/toggle.svg');
}

footer {
    background-color: var(--color-footer);
}

footer .container {
    min-height: 80px;
    box-sizing: border-box;
}

.copyright{
    color: var(--color-text-footer);
}

.copyright a {
    text-decoration: none;
    color: var(---color-text-footer);
}

