@import url('./vista_2.css');
@import url('./vista_3.css');
@import url('./vista_4.css');
@import url('./vista_5.css');

#vista_1{
    width: 60%;
    margin: 0 auto;
}

#vista_1 h2{
    text-align: center;
}

@media screen and (max-width: 768px){

    #vista_1{
        width: 100%;
    }
}