.v1_contenedor {
    width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--theme-primary);
    color: var(--text-color);
}

.v1_jugador {
    text-align: center;
}

.v1_datos{
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.v1_fila {
    display: flex;
    justify-content: space-between;
}

.v1_juego {
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.v1_cartas {
    width: 100%;   
    min-height: 400px; 
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    padding: 10px;
    position: relative;
}

.v1_cartas .contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mascara {
    position: absolute;
    background-image: url('https://cdn.pixabay.com/photo/2017/10/20/18/10/run-2872201_960_720.png');
    background-size: contain;
    inset: 0;
    z-index: 10;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mascara .mensaje {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    background-color: #1e1e1e80;
    padding: 10px;
    border-radius: 10px;
}

.carta {
    width: 140px;
    height: 160px;
    background-color: var(--card-color);    
    border-radius: 5px;
    color: white;
    font-size: 30px;
    perspective: 1000px;
    cursor: pointer;
}


/* .carta:hover .carta-inner {
    transform: rotateY(180deg);
} */

.carta-inner-selecciondo {
    transform: rotateY(180deg);
}

.carta-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    align-items: center;
}

.carta-front, .carta-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.carta-front{
    background-color:#2980b9;
    color: white;
    text-align: center;
}

.carta-back{
    background-color: #bbb ;
    transform: rotateY(180deg);
    color: black;
    text-align: center;
}

.carta-back img{
    width: 100%;
    height: 100%;
}
.v1_opciones {
    display: flex;
    justify-content: center;
}

.v1_menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.v1_boton {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    background-color: var(--color-2, #2980b9);
}

#v1_iniciar_o_pausar {
    width: 100px;
}