.v1_contenedor {
    width: 95%;
    margin: 20px auto;
    border-radius: 5px;
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--theme-primary);
    color: var(--text-color);
}

.v1_jugador {
    text-align: center;
}

.v1_datos{
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.v1_fila {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.v1_juego {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.v1_cartas {
    width: 100%;   
    min-height: 400px; 
    border-radius: 5px;
    box-shadow: var(--text-color) 0px 2px 5px -1px, var(--text-color) 0px 1px 3px -1px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

.v1_cartas .contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mascara {
    position: absolute;
    background-image: url('https://cdn.pixabay.com/photo/2017/10/20/18/10/run-2872201_960_720.png');
    background-size: cover;
    background-position: right;
    inset: 0;
    z-index: 10;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.mascara .mensaje {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    background-color: #1e1e1e80;
    padding: 10px;
    border-radius: 10px;
}

.ganador {
    background-image: url('https://cdn.pixabay.com/photo/2015/07/27/18/34/life-862985_960_720.jpg');
}

.ganador .mensaje {
    background-color: #297fb988;
}

.carta {
    width: 140px;
    height: 160px;
    background-color: var(--card-color);    
    border-radius: 5px;
    color: white;
    font-size: 30px;
    perspective: 1000px;
    cursor: pointer;
}


/* .carta:hover .carta-inner {
    transform: rotateY(180deg);
} */

.carta-inner-selecciondo {
    transform: rotateY(180deg);
}

.carta-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    align-items: center;
}

.carta-front, .carta-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.carta-front{
    background-color:#2980b9;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta-back{
    background-color: #bbb ;
    transform: rotateY(180deg);
    color: black;
    text-align: center;
}

.carta-back img{
    width: 100%;
    height: 100%;
}
.v1_opciones {
    display: flex;
    justify-content: center;
}

.v1_menu {
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}.v1_menu button{
    width: 100%;
}

.v1_boton {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    background-color: var(--color-2, #2980b9);
}

#v1_iniciar_o_pausar {
    width: 200px;
}
button:hover{
    background-color:var(--card-color);
    font-weight: 600;
    transition-duration: .3s;
    
}
@media(max-width:700px){
    .v1_juego{
        width: 100%;
        margin: 3%;
    }
    .v1_menu{
        flex-wrap: wrap;
        margin: auto;
        width: 50%;
    }
    .v1_menu button{
        height: auto;
        width: 80%;
    }
    .pelicula{
        width: 40%;
    }
}