@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.v4_h2 {
    font: 2.1em/1 Open Sans, Impact;
}

.body {
    display: flex;
    justify-content: center;
    padding: 20px;


}

.v4_content {

    font-family: sans-serif;
    color: #213B4C;

    width: 600px;
    height: auto;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;

    border: 2px solid black;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}


.v4_table {
    font-family: arial, sans-serif;
    table-layout: fixed;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    border: 2px solid #0F362D;
    width: 100%;
}


.v4_table thead {
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)); */
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}


.v4_table td {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 20px;
}

.v4_table th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 20px;
}

.v4_table tr:nth-child(even) {
    background-color: #ddd;
}