.v1_contenedor {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--theme-primary);
    color: var(--text-color-juego);
}

.v1_jugador {
    text-align: center;
}

.v1_datos{
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.v1_fila {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.v1_juego {
    width: 73%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.v1_cartas {
    width: 100%;   
    min-height: 500px; 
    border-radius: 5px;
    box-shadow: var(--text-color) 0px 2px 5px -1px, var(--text-color) 0px 1px 3px -1px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background-color: var(--card-juego);
    overflow: hidden;
}

.v1_cartas .contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5px;
   
}

.mascara {
    position: absolute;
    background-image: url('https://cdn.pixabay.com/photo/2017/10/20/18/10/run-2872201_960_720.png');
    background-size: cover;
    background-position: right;
    inset: 0;
    z-index: 10;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .5s ease-in-out, opacity .3s linear;
}

.mostrar {
    opacity: 1;
    transform: translateY(0);
}

.mascara .mensaje {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    background-color: #1e1e1e80;
    padding: 10px;
    border-radius: 10px;
}

.ganador {
    background-image: url('https://cdn.pixabay.com/photo/2015/07/27/18/34/life-862985_960_720.jpg');
}

.ganador .mensaje {
    background-color: #297fb988;
}

.pause {
    background-image: url('https://cdn.pixabay.com/photo/2019/10/18/17/38/time-4559789_960_720.png');
}

.pause .mensaje {
    background-color: #297fb988;
}

.carta {
    width: 140px;
    height: 160px;
    background-color: var(--card-juego);    
    border-radius: 10px;
    color: white;
    font-size: 30px;
    perspective: 1000px;
    cursor: pointer;
}

.carta-inner-selecciondo {
    transform: rotateY(180deg);
}

.carta-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    align-items: center;
}

.carta-front, .carta-back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.carta-front{
    background-color:#2980b9;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta-back{
    background-color: #bbb ;
    transform: rotateY(180deg);
    color: black;
    text-align: center;
}

.carta-back img{
    width: 100%;
    height: 100%;
}
.v1_opciones {
    display: flex;
    justify-content: center;
}

.v1_menu {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.v1_menu button{
    width: 100%;
}

.v1_boton {
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
    background-color: var(--bg-button);
    color: var(--color-button)
}

button:hover{
    background-color:var(--color-button-hover);
    color: var(--text-button-hover);
    font-weight: 600;
    transition-duration: .3s;
}

#v1_iniciar_o_pausar {
    width: 200px;
}
.v1_columna{
    width: 120px;
}

@media screen and (max-width:768px){
    .v1_juego{
        width: 100%;
        margin: 3%;
    }
    .v1_menu{
        flex-wrap: wrap;
        margin: auto;
        width: 50%;
    }
    .v1_menu button{
        height: auto;
        width: 80%;
    }
    .pelicula{
        width: 40%;
    }

    .v1_datos{
        width: 100%;
        justify-content: space-around;
        gap: unset;
        padding: 0 1rem;
    }   

    .v1_datos .v1_columna{
        font-size: 1rem;
        width: 100px;
        text-align: center;
    }

    .v1_datos .v1_columna:nth-child(3){
        text-align: right;
    }

    .v1_contenedor{
        gap: unset;
    }

    .v1_cartas .contenido{
        padding: 0px;
    }

    .carta{
        width: 120px;
        height: 140px;
    }

    .v1_boton{
        height: 46px;
        width: 100%;
    }

    .v1_menu{
        width: 38%;
        gap: 0px;
    }

    .v1_juego {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 425px){
    .v1_datos{
        width: 100%;
        justify-content: space-between;
        gap: 3px;
        margin-bottom: 5px;
    }   

    .v1_datos .v1_columna{
        font-size: 14px;
        width: 100px;
        text-align: center;
    }

    .v1_datos .v1_columna:nth-child(3){
        text-align: right;
    }

    .v1_juego{
        margin: 0;
    }

    .mascara  .mensaje {
        font-size: 20px;
    }

    .v1_cartas .contenido{
        padding: 0px;
    }

    .carta{
        width: 100px;
        height: 130px;
    }

    .v1_boton{
        height: 46px;
        width: 100%;
    }

    .v1_menu{
        width: 70%;
        gap: 0px;
    }
}

@media screen and (max-width: 375px){

    .v1_contenedor{
        padding: .5rem;
    }

    .v1_datos{
        width: 100%;
        justify-content: space-between;
        gap: 3px;
        margin-bottom: 5px;
    }

    .v1_datos .v1_columna{
        font-size: 12px;
        width: 80px;
        text-align: center;
    }

    .v1_datos .v1_columna:nth-child(3){
        text-align: right;
    }

    .v1_datos .span{
        font-size: 12px;
    }

    .v1_fila {
        width: 100%;
        justify-content: unset;
    }

    .v1_juego{
        margin: 0;
    }

    .mascara  .mensaje {
        font-size: 20px;
    }

    .v1_boton{
        height: 46px;
        width: 100%;
    }

    .v1_menu{
        width: 78%;
        gap: 0px;
    }

    .v1_cartas .contenido{
        padding: 0px;
    }

    .carta{
        width: 115px;
        height: 130px;
    }
}

@media screen and (max-width: 320px){
    .v1_menu{
        width: 90%;
        gap: 0px;
    }

    .mascara  .mensaje {
        font-size: 16px;
    }
}